/* Computer Modern fonts */
@import "./font/cmun.css";
@import "./font/cmu-bright.css";

:root {
    --headerFont: "CMU Bright", "Computer Modern Serif", serif !important;
    --bodyFont: "CMU Bright", "Computer Modern Serif", serif !important;
    --codeFont: "Computer Modern Typewriter", monospace !important;
} 