.darkmode {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

.darkmode > .toggle {
  display: none;
  box-sizing: border-box;
}

.darkmode svg {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  top: calc(50% - 10px);
  transition: opacity 0.1s ease;
}
:root[saved-theme="dark"] .darkmode svg {
  fill: hsl(var(--base-h), var(--base-s), var(--base-d));
}

:root[saved-theme="light"] .darkmode svg {
  fill: hsl(var(--base-h), var(--base-s), var(--base-l));
}

:root[saved-theme="dark"] {
  color-scheme: dark;
}

:root[saved-theme="light"] {
  color-scheme: light;
}

:root[saved-theme="dark"] .toggle ~ label #dayIcon {
  opacity: 0;
}

:root[saved-theme="dark"] .toggle ~ label #nightIcon {
  opacity: 1;
}

:root[saved-theme="light"] .toggle ~ label #dayIcon {
  opacity: 1;
}

:root[saved-theme="light"] .toggle ~ label #nightIcon {
  opacity: 0;
}