@use "./base.scss";
@import "../static/font/cmun.css";

// put your custom CSS here!
:root {
    --headerFont: "Computer Modern Serif", serif !important;
    --bodyFont: "Computer Modern Serif", serif !important;
    --codeFont: "Computer Modern Typewriter", monospace !important;
}