@use "./base.scss";

// put your custom CSS here!
// Custom font
:root {
    --headerFont: "Computer Modern Serif", serif !important;
    --bodyFont: "Computer Modern Serif", serif !important;
    --codeFont: "Computer Modern Typewriter", monospace !important;
}